*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;}
input[type="checkbox"]:checked~ul {display: none;}
#navbar{display: none;}
nav{ 
    width: 100%;
    display: flex;  
    justify-content: space-between; 
    background-color: #f2f2f2;
    color: #333336;
    overflow: hidden;
    padding: 20px;}
.almalogo img{width: 20px;}
.menu li{ margin: 30px 0;}
.menu li a{
    color: #333336;
    font-size: 1.5em;}
.navbarbtn a{
    font-size: 1.2em;
    padding:0 15px;
    cursor: pointer;}
    /* header 2 */
.header2{background-color: #fbfbfd;
        display: flex;
        overflow-x: scroll;
        padding: 10px;}
.header2 img{width: 50px;}
.phone1{margin: 10px;
        font-size: .8em;
        padding-bottom: 10px;}
.phone1 h5{ margin-bottom: 15px;}
 .header2 span{color: red}
.header3 {width: 100%;
        background-color: #f2f2f2;
        text-align: center;
        margin: 5px 0;
        padding: 20px;
        font-size: .8em;
        color: #333336;}
.header3 p{padding-bottom: 15px;}
.header3 a{color: #0d6efd;}
/* main */
main{width: 100%;}
.main1{background-color: #000;
        text-align: center;}
.saquli{width: 30%;}
.main1top,.main2top,.main3top{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;}
.pro15{ margin: 20px; width: 30%;}
.titanium{width: 50%;}
.buy{
    color: #fff;
    font-size: 1em;
    background-color: #0071e3;
    width: 20%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 15px;}
.main1top p{padding: 20px 0;color: #fff;}
.learn{ font-size: 1.2em; color: #0d6efd;}
.main1top,.main2top span{color: #5c0000; font-size: .8em;}
.main2,.main3,.main4{text-align: center;  margin-top: 10px;}
.main2top h3,h2{padding: 10px 0;}
.main2img{background: url(../img/applebg10.jpeg)50%/cover;
          width: 100%;
          height: 20vh;}
.main3top h2{color: #1e3791;}
.main3img img{width: 50%;}
.main4img{background: url(../img/applebg12.jpeg)50%/cover;
          width: 100%;
          height: 50vh;}
.main4txt{padding: 30px 0;}
.main4txt a{color: #0d6efd;
            font-size: 1.2em;}
.main4txt2{display: none;}
/* main5 */
.main5{  display: flex;
         flex-wrap: wrap;
         justify-content: center;
         text-align: center; 
         width: 100%;
         margin: 50px 0;}
.card{width: 50%;} 
.cardtop{display: flex;
         flex-direction: column;
         align-items: center;
         margin: 20px 0;}
.cardtop p{ padding: 10px 0;}
.cardtop img {width: 50%;  padding: 10px;}
.buy2{width: 30%;}
.cardtop span{color: red; font-size: .8em;}
.cardmain img{width: 30%;}
.cardmain{display: flex;
          flex-direction: column;
          align-items: center;
          margin: 20px 0;
          font-size: .8em;}
.cardmain p{padding: 10px 0;}
hr{width: 90%;} 
/* main6all */
.main6all{background-color: #f2f2f2;
          padding: 20px;}
.container1 h1{text-align: center;}
.cont1card ,.container2 ,.magsafe ,.cont4card{
        background-color: #fff;
        width: 100%;
        margin: 20px 0;
        padding: 30px 30px;
        text-align: center;}
.cont1card h3,h1,h6{color: #2e2529;
                    font-size: 1.4em;
                    font-weight: 100;
                    padding: 10px 0;}
.cont1img1{margin-top: 20px;
           width: 100%;}
.cont1img2{width: 80%;
           margin: 20px;}
.cont1card p{color: #6e6e8e;
            padding: 15px 0;}
.cont1card h6{font-size: 1em;}
/* container2 */
.cont2txt p{ padding: 20px 0;}
.cont2img{background: url(../img/mycite12.jpg)center/cover; 
          width: 100%; height: 20vh;}
/* container3 */
.magsafe{padding: 20px;}
.magsafetxt h3{font-size: 2em;}
.magsafetxt p{padding: 20px 0;}
.magsafeimg{margin-top: 20px;}
.magsafeimg img{margin-top: 50px;
                width: 90%;}
.access h1{font-size: 2em;
            font-weight: 600;
            width: 90%;
            text-align: center;}
.cont3img{background: url(../img/applebg9.jpeg)center/contain;
          background-repeat: no-repeat;
          width: 100%;
          height: 20vh;}
.card3lu,.card3a{text-align: center;
                 padding: 30px 0;}
.card3{padding: 20px;}
.card3 h5{font-size: 1.5em;}
.card3 p{padding: 10px 0 ;}
.cont4img{background: url(../img/ios17.jpg)center/cover;
          width: 100%;
          height: 50vh;}
.cont4txt p{ padding: 20px 0;}
.cont5img{background: url(../img/applebg.jpeg)center/cover;
          width: 100%;
          height: 30vh;
          margin-top: 30px;}
.cont5swit ,.cont7card{background-color: #fff;
            width: 100%;
            margin: 20px 0;
            padding: 40px 30px;
            text-align: center;}
.cont5txt h2{font-size: 1.7em;
             font-weight: 300;
             color: #212529;}
.cont5img2{background: url(../img/privacy.jpg)center/cover;
           width: 100%;
           height: 40vh;}
.cont6img img{width: 100%;
              margin-top: 20px;}
.cont6txt img{width: 50%;}
.cont6txt p{font-size: 1.3em;
            color: #212529;
            padding: 20px 0;}
/* container7 */
.cont7card{background-color: #000;
           color: #fff;}
.cont7img{background: url(../img/tvbg.png)75% /cover;
          width: 100%;
          height: 30vh;}
.cont7img2{background: url(../img/tedlasso.jpg)center;
           height: 40vh;
           width: 100%;}
.cont7txt {padding: 20px 0;}
.cont7txt p{padding: 20px 0;}
.cont8img{background: url(../img/fitness.jpg)50%-100px/cover;
          width: 100%;
          height: 40vh;}
.cont8img2{background: url(../img/arcade.png)center/cover;
           width: 100%;
           height: 35vh;
           margin-top: 30px;}
.cont8card{background-color: #fff;
           width: 100%;
           margin: 20px 0;
           text-align: center;}
.cont8txt p{padding: 20px 0;}
.cont8txt a{margin:  10px ;}
.cont8txt h3{font-size: 3em;
             padding: 30px 0;}
.cont8txt .fa-plus{font-size: .9em;}
.cont9img{background: url(../img/appletime.jpeg)50%-120px/cover;
          width: 100%;
          height: 50vh;}
.cont9img2{background: url(../img/giftcard.jpg)center/cover;
           height: 40vh;
           width: 100%;}
.cont10{ background-color: #fff;
         width: 100%;
         margin: 20px 0;
         padding: 30px 30px;
         text-align: center;}
.cont10img img{width: 60%;
               margin-top: 10px;}
.cont10txt h2{font-size: 2em;
              font-weight: 300;
              color: #212529;}
.cont10txt p{padding: 20px 0;}
/* footer */
footer{width: 100%;}
.footertxt{font-size: .9em;
           color: #0000007a;
           text-align: justify;
           line-height: 20px;}
.footertxt p,.footertxt li{padding: 10px 20px;}
footer hr{width: 90%;
          margin: auto;}
.footerlist1{display: none;}
.footerlist2 input[type="checkbox"]:checked~ul {display: none;}
#rotate{display: none;}
#rotate2{display: none;}
#rotate3{display: none;}
#rotate4{display: none;}
#rotate5{display: none;}
#rotate6{display: none;}
#rotate7{display: none;}
#rotate8{display: none;}
#rotate9{display: none;}
#rotate10{display: none;}
#rotate11{display: none;}
.nothing{ padding-top:30px ;
          margin: 50px 50px 0 0;}
.nothing ul li{margin-right: 50px;}
.shop{display: flex;
    justify-content: space-between;
    width: 100%;
    color: #333336;
    padding: 20px;}
.shoph6 h6{font-size: 1em;}
.nothing li a{font-size: .9em;
              color: #212529;}
.shop label{margin-top: 10px;}
.footerlist2 hr{width: 90%;}
.footlogo{font-size: 1.5em;
          margin: 10px 0;
          width: 60%;}
.footlogo h5 i{padding: 0 10px;}
/* end */
.footerend{text-align: center;
            font-size: .8em;}
.footerend p{padding: 10px 0;}
.footerend a{color: #0071e3;
            text-decoration: underline;}
.footerend hr{width: 90%;}
@media only screen and (min-width: 768px) {
    header{width: 100%;}
    label{display: none ;}
    nav{width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 5px;}
    nav ul{display: flex;}
    .menu li{margin: 0;}
    .menu li a{color: black;
              font-weight: 600;
              font-size: .6em;
              margin: 0 10px;}
    .almalogo img{width: 10px;
       margin: 5px 10px 0 30px;}
    .navbarbtn a{
        font-size: .7em;
        padding:0 10px;}
    .header2{display: flex;
            justify-content: center;
            overflow-x: hidden;
            padding: 10px;}
    .header2 img{width: 30px;}
    .phone1{ margin: 10px;
             font-size: .5em;
             padding-bottom: 10px;}
    .pro15{ margin: 20px; width: 10%;}
    .titanium{width: 20%;}
    .buy{width: 5%;}
    .saquli{ width: 10%;
             transform: rotate(-90deg); }
    .main2img{height: 55vh;}
    .main3{display: flex;
           align-items: center;}
    .main3img img{width: 50%;}
    .main3top{width: 50%;}
    .buy1{width: 15%;}
    .main4txt{display: none;}
    .main4img{display: none;}
    .main4img2{background: url(../img/applebg12.jpeg) 55%/cover;
               width: 98%;
               height: 100vh;
               border-radius: 30px;
               margin: 30px 15px;
               display: flex;
               justify-content: center;
               align-items: center; }
    .main4txt2{ text-align: justify;
                display: inline-block;
                color: #fff;
                width: 70%;}
    .main4txt2 a{background-color: #fff;
                 font-size: .7em;
                 padding: 5px;
                 color: #000;
                 border-radius: 20px;}
    .main5h1{display: flex;
             justify-content: center;
             width: 100%;}
    .card{display: flex;
          align-items: center;
          flex-direction: column;
          width: 20%;} 
    .buy2{width: 30%;}
    .cardtop , .cardmain{font-size: .6em;}
    .cardmain img{width: 20%;}
    .foot5:hover{text-decoration: underline;}
    .main6all{padding: 20px 50px;}
    .cont1cardall{display: flex;}
    .cont1card{margin: 20px 10px;
              padding: 30px 30px;
              text-align: center;}
    .cont1card h3,h6{color: #000;
                     font-size: 1em;
                    font-weight: 600;}
    .cont1card h6,.cont1a{font-size: .8em;}
    .cont1card p{font-size: .7em;}
    .container1 h1{font-size: 2em;}
    .cont2img{width: 90%;
        height: 50vh;}
    .cont2txt{margin: auto;
              width: 50%;}
    .cont2txt h2{font-size: 2em;
                font-weight: 600;}
    .cont2txt p{ font-size: .7em;}
        /* magsafe */
    .magsafe{display: flex;}
    .magsafetxt{width: 25%;
               margin:auto ;}
    .magsafetxt p{font-size: .7em;}
    .magsafeimg{background: url(../img/mycite13.jpg)center/cover; width: 50%; height: 70vh;}
    .magsafeimg img{display: none;}
    .mg2{flex-direction: row-reverse;}
    .mgimg2{background: url(../img/mycite14.jpg)85%/cover;
            width: 50%;
            height: 65vh;
            margin: 0 auto;}
    .mgt2xt{width: 15%;}
    .cont3img{height: 50vh;}
    .card3lu{display: flex;}
    .card3a{display: flex;
            justify-content: center;
            width: 100%;
            font-size: 1.5em;}
    .card3 h5{font-size: 1em;}
    .card3 p{font-size: .8em;}
    .cont4img{width: 100%;
             height: 85vh;}
    .cont4txt h2{font-size: 2.5em;
                 font-weight: 600;}
    .cont5card{display: flex;}
    .cont5swit,.cont7card{margin: 30px 10px;
               padding: 30px 0;}
    .cont5img,.cont5img2{height: 50vh;}
    .cont5txt h2{font-size: 2em;
                font-weight: 600;}  
    .cont6img img{width: 70%;
                margin: 30px;}
    .cont6txt img{width: 30%;}
    .cont6txt{margin: auto;}
    .cont6txt p{font-size: 1em;}   
    .cont7img,.cont7img2{height: 50vh;}
    .cont7txt,.cont8txt{width: 50%;
                        margin: auto;}
   .cont7txt h3{font-size: 2em;}
   .cont8txt h3{font-size: 2em;}
   .fa-plus{font-size: .8em;}
   .cont8card{margin: 10px;}
   .cont8img{height: 50vh;}
    .cont8img2{height:40vh;
               margin: 30px auto;
               width: 60%;}
    .cont10{display: flex;
            justify-content: space-between;}
    .cont10txt{width: 30%;
               margin: auto 20px;}
    .cont10img img{display: none;}
    .cont10img{background: url(../img/studies.jpg)center/contain no-repeat;
               width: 50%;
               height: 50vh;}
    .cont10txt h2{font-weight: 600;}
    .cont10txt p{font-size: .8em;}
    .cont10txt a{font-size: 1em;}
    .footertxt{font-size: .8em;
            margin: auto;
             width: 60%;}
    .footerlist1{display: flex;
            justify-content: center;
             margin: 30px;
            padding:0 30px; }
    .ftlist1{width: 10%;
            margin: 0 20px;
            text-align: justify;}
    .ftlist1 h6{color: #212529;
                font-size: .8em;}
    .ftlist1 li a{color: #212529;
                font-size: .6em;}
    .ftlist1 li a:hover{text-decoration: underline;}
    .footlogo{font-size: 1.5em;
             margin:10px auto;
             width: 60%;}
    .footlogo h5 i{padding: 0 10px;}
    .footerlist2{display: none;}
    .ftend{display: flex;
          justify-content: center;}
    .ftend p{padding: 0 10px;}
                                    }
  